---
import Header from "../components/header.astro"

console.log("hi")

let n = 5
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/global-styles.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blank</title>
	</head>
	<body>
		<Header />
	</body>
</html>

