---
import Maze from "./Maze.svelte"
import Header from "../../../components/header.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>🌎New Tab</title>
    <link rel="stylesheet" href="/global-styles.css">
</head>
<body>
    <Header/>
    <Maze client:only / >
</body>
</html>